project_02_multicloud_iac.md

.codex

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

*.tfplan
*tfplan

.terraform/
*crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
